*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: clip;
  background: #c3b101;
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
}
